<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Food Users
            </mat-panel-title>
            <mat-panel-description>
              Search and record food entries
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Search for food nearby using the "Search" function. Look forward to the diary function
          in the next update!
        </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              New Stall Owners
            </mat-panel-title>
            <mat-panel-description>
              Add stall information and menu
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Welcome to TrackEat! Your stall menu can be implemented into our app with 3 simple steps.</p>
        <ol>
            <li>Add your stall information using the "Add Stall" function.</li>
            <li>Proceed to the "Add Menu" function and search for your stall information.</li>
            <li>Add your menu and you are all set!</li>
          </ol>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              Existing Stall Owners
            </mat-panel-title>
            <mat-panel-description>
              Update menu
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Proceed to "Add Menu" function to update your menu.</p>
    </mat-expansion-panel>
</mat-accordion>
