<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>TrackEat</span>
        <span class="example-spacer"></span>
        <span>
            <button mat-button [matMenuTriggerFor]="menu">
                Function
            </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item><a routerLink="/search">Search</a></button>
                    <button mat-menu-item><a routerLink="/stall">Add Stall</a></button>
                    <button mat-menu-item><a routerLink="/menu">Add Menu</a></button>
                    <button mat-menu-item><a routerLink="/home">Home</a></button>
                </mat-menu>      
        </span> 
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>




